/* intestazione */
header{
    background-color: #4ea0ff;
    height: 70px;
}

.pattern{
    height: 70px;
    background-image: url(../img/pattern.png);
    background-size: 270px;
    position: relative;
}

.logo{
    height: 45px;
    position: absolute;
    bottom: 5%;
}
/* /intestazione */

/* titolo */
h1{
    margin-bottom: 1px;
}

.scritto, .data{
    color: grey;
}

.bool{
    color: #50bceb;
    display: inline;
}

.data{
    font-size: 12px;
}

.nota{
    font-size: 14px;
}
/* /titolo */

/* testo centrale */
.under{
    background-color: yellow;
    display: inline;
}

ul{
    padding: 15px;
}
/* /testo centrale */